.avatarimg {
  object-fit: contain;
  margin-left: 12px;
  margin: 5px;
}
.text-Box {
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: 13px;
}
.text-1 {
  font-weight: bold;
  color: #f0f3f6;
  text-decoration: none;
}
.nav {
  display: flex;
  background-color: #272b33;
}
